@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid text-center  text-black mb-4">
    <div class="container">
        <h1 class="display-4">Ecocarga</h1>
       
    </div>
</div>

<div class="container">
    <h2 class="mb-4">Escritorio</h2>
    <div class="row">

               @if (User.IsInRole("Administrador"))
{

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Términos y Condiciones</h5>
                    <p class="card-text">Gestiona los términos y condiciones del sistema.</p>
                    <a href="@Url.Action("Index", "TermsAndConditions")" class="btn btnverde">Ir a Términos</a>
                </div>
            </div>
        </div>
}

        @if (User.IsInRole("Administrador"))
        {
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Usuarios</h5>
                <p class="card-text">Administra los usuarios del sistema.</p>
                <a href="@Url.Action("Index", "UserManagement")" class="btn btnverde">Ir a Usuarios</a>
            </div>
        </div>
    </div>
        }

        @if (User.IsInRole("Administrador"))
{

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Historial</h5>
                    <p class="card-text">Ve las lista de acciones </p>
                        <a href="@Url.Action("Index", "UserAction")" class="btn btnverde">Ver historial</a>
                </div>
            </div>
        </div>

}
        <div class="col-md-4 mt-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Electrolineras</h5>
                    <p class="card-text">Ve la lista de electrolineras disponibles</p>
                    <a href="@Url.Action("Index", "Electrolineras")" class="btn btnverde">Ver Electrolineras</a>
                </div>
            </div>
        </div>

                @if (User.IsInRole("Administrador"))
        {
            <div class="col-md-4 mt-3">
                <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Baterías</h5>
                    <p class="card-text">Gestione aquí las baterias disponibles</p>
                    <a href="@Url.Action("Index", "Baterias")" class="btn btnverde">Ver Baterias</a>
                </div>
            </div>
        </div>
    }
    </div>

   
</div>
