@model Cl.Gob.Energia.Ecocarga.Data.Models.DataCompania

@{
    ViewData["Title"] = "Borrar propietario";
}

<div class="alert alert-danger mt-4">
    @if (TempData["alert"] != null)
    {
        <h4>@TempData["alert"]</h4>
    }
    else
    {
        <h1>Borrar propietario</h1>
        <h4>¿Está seguro que desea eliminar el registro?</h4>
    }
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RutPropietario)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RutPropietario)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UrlInImage)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UrlInImage)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UrlImage)
        </dt>
        <dd class="col-sm-8">
            <img class="img-responsive" src="@Url.Content("~/Archivos/" + @Model.UrlImage)" alt="">
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @if (TempData["alert"] == null)
        {
            <input type="submit" value="Borrar" class="btn btn-danger" />
        }
        <a asp-action="Index" class="btn btn-outline-danger">Volver a la lista</a>
    </form>
</div>
