@model Cl.Gob.Energia.Ecocarga.Data.Models.DataCargador

@{
    ViewData["Title"] = "Borrar cargador";
}

<div class="alert alert-danger mt-4">
    <h1>Borrar cargador</h1>
    <h4>¿Está seguro que desea eliminar el registro?</h4>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Electrolinera)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Electrolinera.Nombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.TipoConector)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TipoConector.Nombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.TipoCorriente)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TipoCorriente)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Cable)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Cable)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Potencia)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Potencia)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EstadoCargador)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EstadoCargador)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IdCargadorCliente)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IdCargadorCliente)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IdCargadorSec)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IdCargadorSec)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <a asp-action="Index" asp-route-electrolineraId="@Model.ElectrolineraId" class="btn btn-outline-danger">Volver a la lista</a>
    </form>
</div>
