@model Cl.Gob.Energia.Ecocarga.Data.Models.DataTipocobro

@{
    ViewData["Title"] = "Borrar precio";
}

<div class="alert alert-danger mt-4">
    <h1>Borrar precio</h1>
    <h4>¿Está seguro que desea eliminar el registro?</h4>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UnidadCobro)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.UnidadCobro)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <a asp-action="Index" asp-route-cargadorId="@Model.CargadorId" class="btn btn-outline-danger">Volver a la lista</a>
    </form>
</div>
