@inject Cl.Gob.Energia.Ecocarga.Web.Services.Interfaces.IUserService _userService
@model X.PagedList.IPagedList<Cl.Gob.Energia.Ecocarga.Data.Models.DataTipoconector>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Tipos de conectores";
}

<div class="alert alert-primary mt-4">
    <h1 class="alert-heading mb-4">Tipos de conectores</h1>
    <form asp-action="Index" method="get">
        <div class="form-group row">
            <div class="col-3">
                <input type="text" name="SearchString" class="form-control" value="@ViewData["CurrentFilter"]" />
            </div>
            <div class="col-1">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
            <div class="col-3">
                <a asp-action="Index" style="vertical-align: sub;">Volver a lista completa de registros</a>
            </div>
            <div class="col-3 offset-2 text-right">
                @if (_userService.IsAdmin())
                {
                    <a asp-action="Create" class="btn btn-primary">Añadir tipo de conector</a>
                }
            </div>
        </div>
    </form>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-primary">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NombreSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nombre</a>
            </th>
            <th class="text-primary">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td width="15%" class="text-left">
                    <div class="btn-group text-right" role="group" aria-label="Acciones">
                        @if (_userService.IsAdmin())
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Actualizar">
                                <i class="fas fa-edit fa-fw"></i>
                            </a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Detalles">
                            <i class="fas fa-clipboard fa-fw"></i>
                        </a>
                        @if (_userService.IsAdmin())
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="right" title="Borrar">
                                <i class="fas fa-trash-alt fa-fw"></i>
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@using (Html.BeginForm("Index", "MarcasAutos", FormMethod.Get))
{
    <div id='Paging' style="text-align: left">
        @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new
        {
            pageNumber,
            sortOrder = @ViewData["CurrentSort"],
            currentFilter = @ViewData["CurrentFilter"]
        }),
        new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
        {
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        })
    </div>
}
