@model Cl.Gob.Energia.Ecocarga.Data.Models.DataObservacion

@{
    ViewData["Title"] = "Borrar observación";
}

<div class="alert alert-danger mt-4">
    <h1>Borrar observación</h1>
    <h4>¿Está seguro que desea eliminar el registro?</h4>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Mensaje)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Electrolinera)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Electrolinera.Nombre)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <a asp-action="Index" asp-route-electrolineraId="@Model.ElectrolineraId" class="btn btn-outline-danger">Volver a la lista</a>
    </form>
</div>
